<template name="findpaper">
  <div class="wrapper wrapper-content container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="container">
                  <h1 id="title">Find Paper</h1>
                </div>
            </div>
        </div>
        {{getData}}
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="ibox-content">
            <div>
                <p>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="inputvalue">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-primary year">Search Year</button>

                            <button class="btn btn-sm btn-info title">Search Title</button>
                            
                            <button class="btn btn-sm btn-success tagpub">Search Tag</button>
                        </div>
                    </div>
                    
                </p>
            </div>
            <div>
                <strong id="resultcount"></strong>
                <p></p>
            </div>
            <div class="table-responsive" >
                <div class="loading"></div>
                <table class="table table-hover">
                    <tbody id="content">
                        
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
</template>
