<template name="forumlist">
  <div class="wrapper wrapper-content">
        <div class="row">
            <div class="container">
              <h1 id="title">Hello World!</h1>
            </div>
        </div>
        {{getData}}
        <div class="row">
          <div class="container table-responsive" style="background: white">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Author </th>
                    <th>Title </th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    
                    <td>Jia Zhang </td>
                    <td><span class="pie">Supporting CSCW and CSCL with Intelligent Social Grouping Services.</span></td>
                    <td>2012</td>
                </tr>
                <tr>
                    
                    <td>Jinhui Yao </td>
                    <td>ReputationNet: Reputation-Based Service Recommendation for e-Science</td>
                    <td>2015</td>
                </tr>
                <tr>
                    
                    <td>Stephen J. H. Yang </td>
                    <td>Using Description Logics for the Provision of Context-Driven Content Adaptation Services.</td>
                    <td>2011</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</template>