<template name = "postPage">
    <div class = "wrapper wrapper-content animated fadeInRight">
    	<div>
    		{{> searchTemplate}}
    	</div>
    	
    	<div>
    		{{> buttonTemplate}}
    	</div>
    	
    	<div>
    		{{> addPostTemplate}}
    	</div>
    	
    	<div id = "resultsDiv">
    	</div>
    </div> 
</template>

<template name = "searchTemplate">
   <form method="post">
      <input type = "text" name = "searchContent"/>
      <input type = "submit" value = "Find Post"/>
   </form>
</template>

<template name = "buttonTemplate">
        <button class = "button3" name = "findMyPosts">Find My Posts</button>
        <button class = "button3" name = "addNewPost">Add New Post</button>
</template>

<template name = "addPostTemplate">
	<form method="post">
		<input type = "text" name = "title"/>
		<input type = "text" name = "content"/>
		<input type = "submit" value="Post"/>
	</form>
</template>