<template name="postPage">
    <div align="center" class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div>
                <form method="post" id="searchPostForm">
                    <input type="text" id="keyword"/>
                    <input type="submit" value="Find Post"/>
                </form>
            </div>
            <button id="findMyPosts">My Posts</button>
            <button id="addNewPost">Add New Post</button>
            <div id="addNewPostContainer">
                <form method="post" id="addPostForm">
                    <ul>
                        <input id="postTitle" type="text" placeholder="post title"/>
                    </ul>
                    <ul>
                        <textarea id="postContent" rows="4" cols="100">put your post content here</textarea>
                    </ul>
                    <ul>
                        <input type="submit" value="Post"/>
                    </ul>
                </form>
            </div>
            <div id="resultsContainer">
            </div>
        </div>
    </div> 
</template>
