#ignore generated class files
*.class

#ignore vim undo and swap files
*.*~
*.un~
*.swp

#ignore all bin directories
bin/

#ignore target directory
target/

#ignore logs directory 
logs/


.DS_Store
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea

