#ignore generated class files
*.class

#ignore vim undo and swap files
*.*~
*.un~
*.swp

#ignore all bin directories
bin/

/public/upload/*
.DS_Store
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea
