<template name="forgotPassword">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name">IN+</h1>
        </div>
        <h3>Register to Service Oriented Computing</h3>

        <p>Create account to see it in action.</p>

        <div class="m-t" role="form">
            {{> atForm state="forgotPwd"}}
        </div>
        <p class="m-t">
            <small>Service Oriented Computing &copy; 2016</small>
        </p>
    </div>
</template>