<template name="paperedit">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="editor row">
              <div class="col-md-6">
                  <form class="form-horizontal" ,method="POST">
                    <!--  <input type="hidden" name="userID" value="@userId">
                      <input type="hidden" name="wfID" value="@wf.getId">-->
                      <div class="form-group">
                          <label for="in-Title" class="col-sm-2 control-label">titke</label>
                          <div class="col-sm-10">
                              <input type="text" name="papertitle" class="form-control" id="Title" placeholder="title" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Category" class="col-sm-2 control-label">editor</label>
                          <div class="col-sm-10">
                              <input type="text" name="paperedit" class="form-control" id="Editor" placeholder="edit" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Category" class="col-sm-2 control-label">year</label>
                          <div class="col-sm-10">
                              <input type="text" name="paperyear" class="form-control" id="Year" placeholder="year" value="">
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="in-Category" class="col-sm-2 control-label">volume</label>
                          <div class="col-sm-10">
                              <input type="text" name="papervolume" class="form-control" id=" Volume" placeholder="volume" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Category" class="col-sm-2 control-label">madate</label>
                          <div class="col-sm-10">
                              <input type="text" name="papermadate" class="form-control" id="Mdate" placeholder="madate" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Desc" class="col-sm-2 control-label">pages</label>
                          <div class="col-sm-10">
                              <input type="text" name="paperpages" class="form-control" id="Pages" placeholder="pages" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Desc" class="col-sm-2 control-label">publisher</label>
                          <div class="col-sm-10">
                              <input type="text" name="paperpublisher" class="form-control" id="Publisher" placeholder="publisher" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Desc" class="col-sm-2 control-label">pages</label>
                          <div class="col-sm-10">
                              <input type="text" name="paperpages" class="form-control" id="Pages" placeholder="pages" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Desc" class="col-sm-2 control-label">series</label>
                          <div class="col-sm-10">
                              <input type="text" name="paperseries" class="form-control" id="Series" placeholder="series" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Desc" class="col-sm-2 control-label">booktitle</label>
                          <div class="col-sm-10">
                              <input type="text" name=" booktitle" class="form-control" id="Booktitle" placeholder="booktitle" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Desc" class="col-sm-2 control-label">crossref</label>
                          <div class="col-sm-10">
                              <input type="text" name="papercroossref" class="form-control" id="Crossref" placeholder="crossref" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="in-Desc" class="col-sm-2 control-label">ee</label>
                          <div class="col-sm-10">
                              <input type="text" name="papercroossref" class="form-control" id="Ee" placeholder="crossref" value="">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
    </div>

</template>
