<template name="paperaccess">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div id="page">

                <h1>PaperAccess</h1>

                <form id="searchForm" method="post">
            		<fieldset>

                       	<input id="paperaccess" type="text" />

                        <input type="submit" value="Submit" id="submitButton" />

                    </fieldset>
                </form>

                <div id="resultsDiv"></div>
            </div>
        </div>
    </div>

</template>
