<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Jia</strong>
                             </span> <span class="text-muted text-xs block">Professor <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
                            <li><a href="{{pathFor route='contacts'}}">Contacts</a></li>
                            <li><a href="{{pathFor route='mailbox'}}">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="{{pathFor route='login'}}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{{isActiveRoute regex='dashboard1|dashboard2|dashboard3|dashboard4l|dashboard5|friendlisthome|suggestion'}}">
                    <a href="{{pathFor route='dashboard1'}}"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActiveRoute regex='dashboard1|dashboard2|dashboard3|dashboard4l|dashboard5|friendlisthome|popularity|suggestion|forumlist|findpaper|paperdetail|postPage' className='in'}}">
                        <li class="{{isActiveRoute regex='dashboard1'}}"><a href="{{pathFor route='dashboard1'}}">Paper </a></li>
                        <li class="{{isActiveRoute regex='friendlisthome'}}"><a href="{{pathFor route='friendlisthome'}}">FriendList <span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='usergroup'}}"><a href="{{pathFor route='usergroup'}}">User Group <span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='popularity'}}"><a href="{{pathFor route='popularity'}}">Popularity <span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='suggestion'}}"><a href="{{pathFor route='suggestion'}}">Suggestion <span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='academicforum'}}"><a href="{{pathFor route='academicforum'}}">Academic Forum <span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='accesscontrol'}}"><a href="{{pathFor route='accesscontrol'}}">Access Control <span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='postPage'}}"><a href="{{pathFor route='postPage'}}">Post Page <span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='findpaper'}}"><a href="{{pathFor route='findpaper'}}">Find Paper<span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='subscriptionlist'}}"><a href="{{pathFor route='subscriptionlist'}}">Subscription List<span class="label label-primary pull-right">NEW</span></a></li>
                        <li class="{{isActiveRoute regex='timeline'}}"><a href="{{pathFor route='timeline'}}">Timeline<span class="label label-primary pull-right">NEW</span></a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</template>
