<template name="timeline">
    <div class="wrapper wrapper-content container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="container">
                    <h1 id="title">Timeline</h1>
                </div>
            </div>
        </div>
    {{getData}}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox-content">
                <div class="table-responsive" >
                    <div class="loading"></div>
                        <div id="content"> 

                            

                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>