<template name="postPage">
    <div align="center" class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        	<div>
        	    <button id="findPost">Find Post</button>
        		<button id="addPost">New Post</button>
        	</div>
        	<br>
        	{{#if ifShowAddNewPost}}
        		<div id="addNewPostContainer">
	                <form method="post" id="addPostForm">
	                    <ul>
	                        <input id="postTitle" type="text" placeholder="post title"/>
	                    </ul>
	                    <ul>
	                        <textarea id="postContent" rows="4" cols="100">put your post content here</textarea>
	                    </ul>
	                    <ul>
	                        <input type="submit" value="Post"/>
	                    </ul>
	                </form>
	            </div> 
        	{{else}}
	            <div>
	                <form method="post" id="searchPostForm">
	                    <input type="text" id="keyword"/>
	                    <input type="submit" value="Search"/>
	                </form>
	            </div>        	
        	{{/if}}
        	<br>
		    <ul>
		      {{#each posts}}
		        {{> post}}
		      {{/each}}
		    </ul>
        </div>
    </div> 
</template>

<template name="post">
  <head>{{title}}</head>
  <p>{{author}} posted at {{postAt}}</p>
  <p>{{content}}</p>
  <div id="commentContainer"></div>
  <div>
      <form method="post" id="addCommentForm">
          <input type="text" id="commentContent"/>
          <input type="submit" value="Comment"/>
      </form>
  </div>
</template>