<template name="postPage">
  <div class="wrapper wrapper-content container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="container">
                  <h1 id="title">Post</h1>
                </div>
            </div>
        </div>
        {{getData}}
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="ibox-content">
            <div>
                <p>
                	<div class="span7 text-center">
                	    <button class="btn btn-sm btn-primary newPost">Search</button>
		        	    <button class="btn btn-sm btn-primary findPost">FindPost</button>
		       		</div>
		       		<br>
        			{{#if ifShowAddNewPost}}
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="keyword">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-primary search">Search</button>
                        </div>
                    </div>
                    {{else}}
                        <div class="input-group">
                        	<input type="text" class="form-control input-sm" id="newPostTitle">
							<textarea class="span6" rows="3" placeholder="Your post content" required id="newPostContent"></textarea>
                        	<div class="input-group-btn">
                            	<button class="btn btn-sm btn-primary addNewPost">Add</button>
	                        </div>
                    	</div>
        			{{/if}}
                </p>
            </div>
            <div>
                <strong id="resultcount"></strong>
                <p></p>
            </div>
            <div class="table-responsive" >
                <div class="loading"></div>
                <table class="table table-hover">
                    <tbody id="content">
                        
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
</template>
